parameters:
    level: 9
    scanDirectories:
        - dev-stubs
    paths:
        - src
    excludePaths:
        - vendor
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#Class Phlix\\Shared\\Plugin\\LifecycleInterface#'
            path: 'src/VolcanicEmberPlugin.php'
        -
            message: '#Class Phlix\\Theming\\ThemeSourceInterface#'
            path: 'src/VolcanicEmberPlugin.php'